.btn {
    background-color: rgb(244, 155, 12);
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(168, 6, 128);
    color: white;
}