.card {
    width: 360px;
    height: auto;
    padding: 2rem;
    background-color: #f6f9fc;
    transition-property: all;
    transition-duration: 1s;
    
}
.title{
    display: flex;
    column-gap: 1.3rem;
    justify-content: center;
    align-items: center;
}
.card-title {
    font-size: 1.5rem;
}
.main-icon {
    font-size: 2rem;
    color: #ff5c35;
    font-weight: 700;
}
.description {
    font-size: 1rem;
    margin-top: 2rem;
}
.card hr {
    margin: 1rem;
    border: 1px solid #777271;
}
.card h5{
    font-size: 1.3rem;
    font-weight: 300;
}

.feature {
    display: flex;
    column-gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}
.feature-icon {
    font-size: 1.3rem;
    color: #ff5c35;
}
.feature p {
    font-size: 0.9rem;
}
.card:hover {
    box-shadow: 2px 2px 2px 2px #117ad6;
    transform: scale(1.1);
}